---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* font tambahan */

// @font-face {
//   font-family: 'noorehuda';
//   src: url('/assets/fonts/noorehuda-webfont.eot');
//   src: url('/assets/fonts/noorehuda-webfont.eot?#iefix') format('embedded-opentype'),
//        url('/assets/fonts/noorehuda-webfont.woff2') format('woff2'),
//        url('/assets/fonts/noorehuda-webfont.woff') format('woff'),
//        url('/assets/fonts/noorehuda-webfont.ttf') format('truetype'),
//        url('/assets/fonts/noorehuda-webfont.svg#noorehudaregular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'noorehuda';
  src: url('/assets/fonts/noorehuda-webfont.eot');
  src: url('/assets/fonts/noorehuda-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/AlQuran-IndoPak-by-QuranWBW.v.4.2.2-WL.woff2') format('woff2'),
       url('/assets/fonts/AlQuran-IndoPak-by-QuranWBW.v.4.2.2-WL.woff') format('woff'),
       url('/assets/fonts/AlQuran-IndoPak-by-QuranWBW.v.4.2.2-WL.ttf') format('truetype'),
       url('/assets/fonts/noorehuda-webfont.svg#noorehudaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
	font-family:'manzoornaskh';
	src:local("manzoornaskh"),
		url(/assets/fonts/ManzoorNaskh.ttf);
		/* format("truetype"); */
	font-weight:400;
	font-style:normal;
}
@font-face{
  font-family:UthmanicHafs1;
  src:url(/assets/fonts/UthmanicHafs1-Ver13.otf); 
  font-weight:400; 
  font-style:normal
}
.quran {
  font-family: noorehuda;
  font-size: 38px;
  line-height: 1.7em;
  text-align: right;
  direction: rtl;
}
.quran2 {
  font-family: manzoornaskh;
  font-size: 38px;
  line-height: 1.7em;
  text-align: right;
  direction: rtl;
}
.arab {
  font-family: UthmanicHafs1;
  font-size: 30px;
  line-height: 1.7em;
  text-align: right;
  direction: rtl;
}